.footer-containers {
    display: flex;
    align-items: baseline;
}




.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer .master-soc {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
}




.address .link {
    display: block;
    width: 231px;
    color: var(--fotter-link);
    font-style: normal;
}


.list .kuyiv-address {
    font-style: normal;
    color: var(--white-color);
    font-style: normal;
}



.adress-item:not(:last-child) {
    margin-bottom: 9px;

}


.address-link .link,
.address {
    font-size: 14px;
}



.sub {
    display: flex;
    align-items: flex-end;
}

.footer-label {
    margin-right: 12px;
}


.footer-mail {
    color: var(--white-color);
    padding: 15px 16px;
    background: transparent;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);

}


.footer-submit-button:hover,
.footer-submit-button:focus {
    background-color: var(--button-hover--);
}

.submit-icon {
    margin-left: 10px;
}




.footer-item:not(:last-child) {
    margin-right: 70px;

}


.submit-container {
    display: block;
    margin-left: auto;
}

.footer .master-soc {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-soc:hover {
    background-color: var(--accent-color);
}