.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/icons&BG/Img-bg-hero.jpg);

    background-size: 1600px auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

}




.hero-title {
    color: var(--white-color);
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 0 auto;
    margin-bottom: 30px;

    max-width: 696px;

}


.hero .hero-button:hover,
.hero .hero-button:focus {
    background: var(--button-hover--);

}