.site-nav .current {
    color: var(--accent-color);
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: -1px;
}

.filter .current {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.second-current {
    width: 78px;
    margin-top: 32px;
}

.first-current {
    width: 49px;
    margin-top: 32px;
}


.second-current::after,
.first-current::after {
    content: '';

    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-color);
    margin-top: 28px;

}